DATABASE_URL=postgres://yourusername:yourpassword@postgres:5432/yourdb
REDIS_URL=localhost:9998
JWT_ACCESS_TOKEN_SECRET=mysuperawesomeaccesssecret
JWT_REFRESH_TOKEN_SECRET=mysuperawesomerefreshsecret
NODE_ENV=development
PORT=9999